In [3]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [4]:
 df = pd.read_csv('Raw.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1977 entries, 0 to 1976
Data columns (total 39 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     1977 non-null   object
 1   Gender                  1977 non-null   object
 2   University              1977 non-null   object
 3   Department              1977 non-null   object
 4   Academic_Year           1977 non-null   object
 5   CGPA                    1977 non-null   object
 6   Scholarship             1977 non-null   object
 7   Anxious                 1977 non-null   int64
 8   Worrying                1977 non-null   int64
 9   Relaxing_Difficulty     1977 non-null   int64
 10  Annoyed                 1977 non-null   int64
 11  Excessive_Worry         1977 non-null   int64
 12  Restless                1977 non-null   int64
 13  Fearful                 1977 non-null   int64
 14  Anxiety_Score           1977 non-null   int64
 15  Anxiety_Level           1977 non-null   object
 16  Upset                   1977 non-null   int64
 17  No_Control              1977 non-null   int64
 18  Stressed                1977 non-null   int64
 19  Overwhelmed             1977 non-null   int64
 20  Confident               1977 non-null   int64
 21  Academic_Control        1977 non-null   int64
 22  Irritation_Control      1977 non-null   int64
 23  Top_Performance         1977 non-null   int64
 24  Angered_By_Grades       1977 non-null   int64
 25  Piled_Up_Difficulties   1977 non-null   int64
 26  Stress_Score            1977 non-null   int64
 27  Stress_Level            1977 non-null   object
 28  No_Interest             1977 non-null   int64
 29  Hopeless                1977 non-null   int64
 30  Sleep_Trouble           1977 non-null   int64
 31  Low_Energy              1977 non-null   int64
 32  Appetite_Changes        1977 non-null   int64
 33  Low_Self_Worth          1977 non-null   int64
 34  Concentration_Problems  1977 non-null   int64
 35  Movement_Changes        1977 non-null   int64
 36  Self_Harm_Thoughts      1977 non-null   int64
 37  Depression_Score        1977 non-null   int64
 38  Depression_Level        1977 non-null   object
dtypes: int64(29), object(10)
memory usage: 602.5+ KB

In [6]:
df.head()

,Age,Gender,University,Department,Academic_Year,CGPA,Scholarship,Anxious,Worrying,Relaxing_Difficulty,...,Hopeless,Sleep_Trouble,Low_Energy,Appetite_Changes,Low_Self_Worth,Concentration_Problems,Movement_Changes,Self_Harm_Thoughts,Depression_Score,Depression_Level
0,18-22,Female,"Independent University, Bangladesh (IUB)",Engineering - CS / CSE / CSC / Similar to CS,Fourth Year or Equivalent,2.50 - 2.99,No,1,1,1,...,2,1,1,2,1,1,1,1,11,Moderate Depression
1,18-22,Male,"Independent University, Bangladesh (IUB)",Engineering - CS / CSE / CSC / Similar to CS,First Year or Equivalent,3.80 - 4.00,No,2,2,1,...,1,1,1,1,1,1,1,1,9,Mild Depression
2,18-22,Male,"Independent University, Bangladesh (IUB)",Engineering - CS / CSE / CSC / Similar to CS,First Year or Equivalent,3.00 - 3.39,No,2,1,1,...,0,2,3,2,2,2,2,1,16,Moderately Severe Depression
3,18-22,Male,"Independent University, Bangladesh (IUB)",Engineering - CS / CSE / CSC / Similar to CS,First Year or Equivalent,3.40 - 3.79,No,2,1,1,...,1,1,1,1,1,1,1,1,9,Mild Depression
4,18-22,Male,"Independent University, Bangladesh (IUB)",Engineering - CS / CSE / CSC / Similar to CS,First Year or Equivalent,3.40 - 3.79,No,1,1,1,...,1,1,1,1,1,1,1,1,9,Mild Depression

In [7]:
df.tail()

,Age,Gender,University,Department,Academic_Year,CGPA,Scholarship,Anxious,Worrying,Relaxing_Difficulty,...,Hopeless,Sleep_Trouble,Low_Energy,Appetite_Changes,Low_Self_Worth,Concentration_Problems,Movement_Changes,Self_Harm_Thoughts,Depression_Score,Depression_Level
1972,23-26,Male,Bangladesh Agricultural University (BAU),Biological Sciences,Fourth Year or Equivalent,3.40 - 3.79,No,1,2,2,...,2,1,2,2,1,1,1,1,13,Moderate Depression
1973,23-26,Female,Bangladesh Agricultural University (BAU),Other,Fourth Year or Equivalent,3.40 - 3.79,No,2,2,2,...,2,1,2,1,0,1,1,0,9,Mild Depression
1974,23-26,Female,Bangladesh Agricultural University (BAU),Biological Sciences,Other,3.80 - 4.00,No,1,0,1,...,3,3,3,3,3,3,1,0,22,Severe Depression
1975,23-26,Male,Bangladesh Agricultural University (BAU),Other,Fourth Year or Equivalent,3.00 - 3.39,No,1,1,1,...,1,1,2,2,1,2,2,0,11,Moderate Depression
1976,23-26,Male,"Independent University, Bangladesh (IUB)",Engineering - CS / CSE / CSC / Similar to CS,Third Year or Equivalent,2.50 - 2.99,No,1,1,0,...,0,0,0,0,0,0,0,0,0,No Depression

In [8]:
df.shape

(1977, 39)

In [9]:
df.size

77103

In [12]:
df[['Age', 'Gender']].values

array([['18-22', 'Female'],
       ['18-22', 'Male'],
       ['18-22', 'Male'],
       ...,
       ['23-26', 'Female'],
       ['23-26', 'Male'],
       ['23-26', 'Male']], dtype=object)

# Working on Depression (Individually)

In [17]:
# Separate the Independent and Dependent variables
X = df[['Age','Gender','Academic_Year','Scholarship', 'No_Interest', 'Hopeless', 'Sleep_Trouble','Low_Energy','Appetite_Changes','Low_Self_Worth', 
'Concentration_Problems','Movement_Changes','Self_Harm_Thoughts']]
y = df['Depression_Level']

In [19]:
X.head()

,Age,Gender,Academic_Year,Scholarship,No_Interest,Hopeless,Sleep_Trouble,Low_Energy,Appetite_Changes,Low_Self_Worth,Concentration_Problems,Movement_Changes,Self_Harm_Thoughts
0,18-22,Female,Fourth Year or Equivalent,No,1,2,1,1,2,1,1,1,1
1,18-22,Male,First Year or Equivalent,No,1,1,1,1,1,1,1,1,1
2,18-22,Male,First Year or Equivalent,No,2,0,2,3,2,2,2,2,1
3,18-22,Male,First Year or Equivalent,No,1,1,1,1,1,1,1,1,1
4,18-22,Male,First Year or Equivalent,No,1,1,1,1,1,1,1,1,1

In [20]:
y.head()

0             Moderate Depression
1                 Mild Depression
2    Moderately Severe Depression
3                 Mild Depression
4                 Mild Depression
Name: Depression_Level, dtype: object

In [22]:
X.isnull().sum().sum()

0

In [24]:
y.isnull().sum().sum()

0

In [27]:
df['Depression_Level'].value_counts()

Depression_Level
Moderately Severe Depression    495
Severe Depression               488
Moderate Depression             449
Mild Depression                 408
Minimal Depression               93
No Depression                    44
Name: count, dtype: int64

In [28]:
df['Depression_Level'].value_counts().sum()

1977